<!-- Boostrap Sidebar  - Collapsible Menu Items -->
<!-- Sidebar -->
<div id="bootstrap-sidebar" class="light-theme big-icon-menu">
    <ul class="sidebar-nav">
        <li class="active">
            <a href="#">
                <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>
                <span class="menu-text">家</span>
            </a>
        </li>
        <li><a href="#"><span class="glyphicon glyphicon-signal" aria-hidden="true"></span> <span class="menu-text">圖表</span></a>
        </li>
        <li><a href="#"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> <span class="menu-text">報告</span></a>
        </li>
        <li><a href="#"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> <span class="menu-text">目錄</span></a>
        </li>
        <li><a href="#"><span class="glyphicon glyphicon-inbox" aria-hidden="true"></span> <span
                class="menu-text">收件箱</span></a>
        </li>
        <li><a href="#"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> <span class="menu-text">收藏夾</span></a>
        </li>
        <li><a href="#"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> <span
                class="menu-text">資產</span></a>
        </li>
        <li><a href="#"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> <span
                class="menu-text">任務</span></a>
        </li>
        <li><a href="#"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <span class="menu-text">本土化</span></a>
        </li>
        <li><a href="#"><span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span> <span
                class="menu-text">付款</span></a>
        </li>
        <li><a href="#"><span class="glyphicon glyphicon-education" aria-hidden="true"></span> <span class="menu-text">訓練</span></a>
        </li>
        <li><a href="#"><span class="glyphicon glyphicon-scissors" aria-hidden="true"></span> <span class="menu-text">定制</span></a>
        </li>
        <li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <span
                class="menu-text">用戶</span></a>
{#        </li>#}
{#        <li><a href="#"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> <span class="menu-text">設置</span></a>#}
{#        </li>#}
    </ul>
</div>
<!-- /#sidebar-wrapper -->
